# Dependencies
node_modules
.pnpm-store

# Environment & Local Secrets
.env
.env.local
.env.development
.env.production
.env.test
*.env

# Deployment CLI Local Folders
.vercel
.netlify

# Production build & cache outputs
dist
dist-ssr
.vite
.cache
*.local

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Scratch
scratch
.gemini
tmp
temp
